.main-page-text
  %h2.intro.shadow.color-white
    Our Team
  %p.color-white.intro.shadow View a list of our stylists
.table_wrapper_team.new_team
  %ul
    - @events.each do |team|
      %li
        - if team.image.present?
          = link_to(image_tag("#{team.image}"), team )
        %br/
        %span.team_name= team.title
        %br/
        %span.team_job= markdown(team.description)
        %br/
        %span.team_link
          = link_to "Edit",  edit_admin_event_path(team)


